@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #04040a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  html {
    font-family: var(--font-quicksand), system-ui, sans-serif;
  }
}

/* Estilos para o markdown */
.prose {
  color: rgb(243 244 246);
}

.prose a {
  color: rgb(96 165 250);
}

.prose strong {
  color: rgb(255 255 255);
}

.prose h1, .prose h2, .prose h3, .prose h4 {
  color: rgb(255 255 255);
}

.prose code {
  color: rgb(147 197 253);
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.25rem;
}

.prose pre {
  background-color: rgba(0, 0, 0, 0.3);
}

.prose blockquote {
  border-left-width: 4px;
  border-color: rgb(95, 13, 255);
}

@layer components {
  .gradient-title {
    font-size: 3rem;
    font-weight: 500;
    background-clip: text;
    background-image: linear-gradient(72.83deg, #0056b3 11.63%, #5f0dff 40.43%, #d58b05 68.07%);
    color: transparent;
  }

  .gradient-button {
    background-image: linear-gradient(72.83deg, #0056b3 11.63%, #5f0dff 40.43%, #d58b05 68.07%);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #19242b;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5f0dff;
    border-radius: 100vh;
    border: 3px solid #19242b;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4a0ac7;
  }
}
